{% extends "prereq.html" %}

{% block title %}Login{% endblock title%}

{% block body %}
{% include "navbar.html" %}
<!-- GOOGLE SIGN IN -->
      <section id="login" class="section">
        <div class="container">
          <div class="row">
          <div class="col-sm-12">
              <h1 class="text-center">Login</h1>
          </div>
      </div>
        <div class="row">
          <div class="container">
          <div id="signinButton" class="text-center">
            <span class="g-signin"
              data-scope="openid email"
              data-clientid="810870182013-h4jrfanb0g6dcfbc9fipqgbru0uhq559.apps.googleusercontent.com"
              data-redirecturi="postmessage"
              data-accesstype="offline"
              data-cookiepolicy="single_host_origin"
              data-callback="signInCallback"
              data-width="300"
              data-approvalprompt="force">
              </span>
          </div>
        </div>
        </div>
          <section class="section">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <div id="result"></div>
                </div>
              </div>
            </div>
          </section>

          <script>
            function signInCallback(authResult) {
              if (authResult['code']) {
                // This hides sign-in button now that the user is authorized
                $('signinButton').attr('style', 'display: none');

                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the webpage and then redirect back to the main restaurant page
                $.ajax({
                  type: 'POST',
                  // define this in @app route in flask
                  url: '/gconnect?state={{STATE}}',
                  processData: false,
                  contentType: 'application/octet-stream; charset=utf-8',
                  data: authResult['code'],
                  success: function(result) {
                    if (result) {
                      $('#result').html('Login Successful!</br>' + result + '</br>Reconnecting...')
                      setTimeout(function() {
                        window.location.href = "/catalog";
                      }, 4000);
                    } else if (authResult['error']) {
                      console.log('There was an error: '+ authResult['error']);
                    } else {
                      $('#result').html('Failed to make a server-side call. Check your configuration and console.')
                    }
                  }
                });
              }
            }
          </script>
        </div>
      </section>
{% endblock body %}

<!-- END GOOGLE SING IN -->
