<!-- .static-top is helping with preventing element get stuck behind navbar -->
<nav class="navbar navbar-expand-lg static-top bg-dark">
      <a class="navbar-brand" href="{{ url_for('showCatalog') }}">
        <strong>CATALOG APP</strong>
      </a>
      {% if 'username' not in session %}
      <a href="{{ url_for('showLogin') }}" class="navbar-text navbar-margin-btn">
        <button type="button" class="btn btn-default navbar-btn">
          Log In !
        </button>
      </a>
      {% else %}
      <a href="{{ url_for('gdisconnect') }}" class="navbar-text navbar-margin-btn">
        <button>
          Logout
        </button>
      </a>
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      {% if 'username' not in session %}
      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('addItem') }}">Add Item</a></li>
        <li><a href="{{ url_for('addCategory') }}">Add Category</a></li>
      </ul>
      {% endif %}
</nav>
