

{% extends "prereq.html" %}

{% block title %}Delete Category{% endblock title %}

{% block body %}
{% include "navbar.html" %}
<section class="section">
  <div class="section-content container">
    <h1>Delete Category : {{ category.name }} </h1>
    <form acion="{{ url_for('deleteCategory', category_name=category.name) }}" method="POST">
      <label for="confirmation">Are you sure you want to delete {{ category.name }}?</label>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Yes!</button>
        <a href="{{ url_for('showCatalog') }}">
          <button type="button" class="btn btn-outline-danger">Cancel</button>
        </a>
      </div>  
    </form>
  </div>
</section>
{% endblock body %}
