

{% extends "prereq.html" %}

{% block title %}Delete Item{% endblock title %}

{% block body %}
{% include "navbar.html" %}

<section class="section">
  <div class="section-content container">
    <h1>Delete Item : {{ item.name }}</h1>
    <form action="{{ url_for('deleteItem', category_name=item.category.name, item_name=item.name) }}" method="POST">
      <label for="confirmation">Are you sure you want to delete {{ item.name }}?</label>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Yes!</button>
        <a href="{{ url_for('showCatalog') }}">
          <button type="button" class="btn btn-outline-danger">Cancel</button>
        </a>
      </div>
    </form>
  </div>
</section>

{% endblock body %}
