{% extends "prereq.html" %}

{% block title %}Private Access Show Items From A Category{% endblock title %}

{% block body %}
{% include "navbar.html" %}
{% include "flash.html" %}

<section>
  <div class="container">
    <div class="row">
      {% include "showCategorySidebar.html" %}
      <div class="col-md-9 text-center">
        <h4 class="text-info text-center font-weight-bold">Item: {{ item.name }} </h4>
        <br><br>
        <div class="row form-group">
          <div class="col text-center">
            <p class="text-center">{{ item.description }}</p>
          </div>
        </div>
        {% include "editAndDelete_item.html" %}
      </div>
    </div>
  </div>
</section>


<!-- end body block -->
{% endblock body %}
