{% extends "prereq.html" %}

{% block title %}Public Access Show Items From A Category{% endblock title %}

{% block body %}
{% include "navbar.html" %}
{% include "flash.html" %}

<section>
  <div class="container">
    <div class="row">
      {% include "showCategorySidebar.html" %}
      <div class="col-md-9 text-center">
        <h4 class="text-info text-center font-weight-bold">Category: {{ category.name }} ({{ count }})</h4>
        <br><br>
        {% for item in items %}
        <div class="row form-group">
          <div class="col text-center">
            <a href="{{  url_for('showDescription', category_name=item.category.name, item_name=item.name) }}">
              <h4 class="text-center">{{ item.name }}</h4>
            </a>
          </div>
        </div>
        {% endfor %}
        {% include "editAndDelete_category.html" %}
      </div>
    </div>
  </div>
</section>


<!-- end body block -->
{% endblock body %}
