<!-- Show all categories from database -->
<div class="sidenav" >
  <section id="showCategories">
    <div class"col-sm-3">
      <h4 class="text-info text-center font-weight-bold">Categories</h4>
      <div class="list-group text-center">
        {% for c in catalog %}
        <a href="{{ url_for('showItems', category_name=c.name) }}" class="list-group-item">{{ c.name }}</a>
        {% endfor %}
        {% if 'username' in session %}
          <br>
          <a href="{{ url_for('addCategory') }}"><button class="btn btn-outline-info">Add New Category</button></a>
          <br>
          <a href="{{ url_for('addItem') }}"><button class="btn btn-outline-info">Add New Item</button></a>
        {% endif %}
      </div>
    </div>
  </section>
</div>
